table {
    border-collapse: collapse;
    border:2px solid #000000;
}

table td{
    border:1px solid #000000;
    width: 40px;
    height: 40px;
    text-align: center;
}

.div-bottom {
    border-bottom:2px solid #000000 !important;
}

.div-right {
    border-right:2px solid #000000 !important;
}

td:focus {
   background: #b3caef;
}

.invalid {
    background: #EDC7C8 !important;
}

.invalid:focus {
    background: #b3caef !important;
}

.alert {
    background-color: #EDC7C8;
}

.move {
    background-color: lightblue;
}
